// This file is included in the build if src/main.js imports it.
// Otherwise the default iOS CSS file is bundled.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the app.variables.styl file
@import 'app.variables'

// Quasar iOS Design Stylus
// --------------------------------------------------
// Custom App variables must be declared before importing Quasar.
// Quasar will use its default values when a custom variable isn't provided.
@import '~quasar-framework/dist/quasar.ios.styl'

html
  font-size 14px

table.q-table
  th, td
    padding .1rem .3rem

.q-data-table-toolbar
  &.upper-toolbar
    min-height 40px
.q-if
  font-size inherit
  min-height 32px
  margin-top 4px
  margin-bottom 8px
  padding-bottom 3px
  &:before
    color rgba(0, 0, 0, .4)
  &:hover:before
    color rgba(0, 0, 0, .7)

.q-if-label
  color rgba(0, 0, 0, .7)

.q-if-control
  font-size 1.5rem

.modal-buttons:not(.modal-buttons-top)
  color $primary
  .q-btn
    font-size 110%
    padding 0.8rem

.modal-content-padding {
  padding: 1rem 1.5rem;
  margin: auto;
}

.af-fixed-font
  font-family monospace, monospace
