<template>
  <q-layout
    ref="layout"
    view="lHh Lpr fff"
    :left-class="{'bg-grey-2': true}"
  >
    <q-toolbar slot="header"
               class="glossy"
               color="primary"
    >
      <q-btn
        flat
        @click="$refs.layout.toggleLeft()"
      >
        <q-icon name="menu"/>
      </q-btn>

      <q-toolbar-title>
        Підсистема інтеграції
        <div slot="subtitle">Робоче місце адміністратора</div>
      </q-toolbar-title>
      <q-btn flat @click="auth">
        <q-icon name="vpn key" :color="isTokenSet ? 'white' : 'faded'"/>
      </q-btn>
    </q-toolbar>

    <div slot="left">
      <!--
        Use <q-side-link> component
        instead of <q-item> for
        internal vue-router navigation
      -->

      <q-list no-border link inset-delimiter>
        <q-list-header>Меню</q-list-header>
        <q-side-link item to="/services" exact>
          <q-item-side icon="fa-cogs"/>
          <q-item-main label="Сервіси"/>
        </q-side-link>
        <q-side-link item to="/msg-types" exact>
          <q-item-side icon="fa-envelope"/>
          <q-item-main label="Типи повідомлень"/>
        </q-side-link>
        <q-side-link item to="/messages" exact >
          <q-item-side icon="fa-envelope-o"/>
          <q-item-main label="Повідомлення"/>
        </q-side-link>
        <q-side-link item to="/queue" exact >
          <q-item-side icon="fa-stack-exchange"/>
          <q-item-main label="Черга"/>
        </q-side-link>
      </q-list>
      <q-fixed-position corner="bottom-left" :offset="[-240, 8]" style="z-index: 0">
        <div style="opacity: 0.6; user-select: none">© Городецький Ігор, 2017</div>
      </q-fixed-position>
    </div>
    <router-view style="z-index: 1"/>
  </q-layout>
</template>

<script>
  import {
    openURL,
    QSideLink,
    QLayout,
    QToolbar,
    QToolbarTitle,
    QBtn,
    QIcon,
    QList,
    QListHeader,
    QItem,
    QItemSide,
    QItemMain,
    Dialog,
    QFixedPosition
  } from 'quasar-framework'

  import {adminToken, setAdminToken, clearToken} from '../auth'
  export default {
    name: 'index',
    components: {
      QLayout,
      QToolbar,
      QToolbarTitle,
      QBtn,
      QIcon,
      QList,
      QListHeader,
      QItem,
      QItemSide,
      QItemMain,
      QSideLink,
      QFixedPosition
    },
    data () {
      return {
        aToken: adminToken
      }
    },
    computed: {
      isTokenSet () {
        return !!this.aToken
      }
    },
    methods: {
      launch (url) {
        openURL(url)
      },
      auth () {
        const that = this
        Dialog.create({
          title: 'Автентифікація',
          form: {
            token: {
              type: 'password',
              label: 'Жетон доступу',
              model: this.aToken
            }
          },
          buttons: [
            'Cancel',
            {
              label: 'Ok',
              handler (data) {
                if (data.token) {
                  setAdminToken(data.token)
                  that.aToken = data.token
                }
                else {
                  clearToken()
                  that.aToken = null
                }
              }
            }
          ]
        })
      }
    },
    mounted () {
      this.$nextTick(() => {})
    },
    beforeDestroy () {
    }
  }
</script>

<style lang="stylus">
</style>
