<template>
  <div class="app-content-main">
    <split-panel layout="vertical" :gutter="6">
      <q-data-table
        ref="gridByType"
        :data="msgByTypeList"
        :config="gridByTypeConfig"
        :columns="gridByTypeColumns"
        @rowclick="gridByTypeClick"
        @selection="gridByTypeSelect"
        @refresh="refreshByType"
        slot="1"
      >
        <template slot="selection" slot-scope="props">
          <span>По типам</span>
          <q-btn flat color="primary" @click="deleteAllOfType(props)">
            <q-tooltip anchor="top right" self="bottom left">Видалити всі цього типу…</q-tooltip>
            <q-icon name="delete"/>
          </q-btn>
        </template>
      </q-data-table>
      <split-panel slot="2" layout="horizontal" :gutter="6">
        <q-data-table
          ref="gridAllOfType"
          :data="allOfTypeList"
          :config="gridAllOfTypeConfig"
          :columns="gridAllOfTypeColumns"
          @rowclick="gridAllOfClick"
          @selection="gridAllOfTypeSelect"
          @refresh="refreshAllOfType"
          slot="1"
        >
          <template slot="selection" slot-scope="props">
            <span>По типам</span>
            <q-btn flat color="primary" @click="deleteMessage(props)">
              <q-tooltip anchor="top right" self="bottom left">Видалити…</q-tooltip>
              <q-icon name="delete"/>
            </q-btn>
          </template>
        </q-data-table>
        <q-data-table
          slot="2"
          ref="gridStatuses"
          :data="statusesList"
          :config="gridStatusesConfig"
          :columns="gridStatusesColumns"
          @refresh="refreshStatuses"
        >
        </q-data-table>
      </split-panel>
    </split-panel>
  </div>
</template>

<script>
  import {
    QDataTable,
    Dialog,
    QBtn,
    QTooltip,
    QIcon
  } from 'quasar-framework'
  import {rest} from '../restClient'
  import {gridConfig} from '../common'
  import splitPanel from 'vue-panel-split'

  export default {
    data () {
      return {
        msgByTypeList: [],
        gridByTypeConfig: {
          title: 'Повідомлення по типам',
          ...gridConfig
        },
        gridByTypeColumns: [
          {
            label: 'Тип',
            field: 'type',
            width: '100px',
            filter: true,
            sort: true,
            type: 'string'
          },
          {
            label: 'К-ть',
            field: 'count',
            width: '50px',
            sort: true,
            type: 'number'
          },
          {
            label: 'Розмір',
            field: 'totalSize',
            width: '100px',
            type: 'number',
            sort: true
          }
        ],
        byTypeIsSelected: false,
        byTypeSelectedIdx: -1,
        allOfTypeList: [],
        gridAllOfTypeConfig: {
          title: 'Повідомлення',
          ...gridConfig
        },
        gridAllOfTypeColumns: [
          {
            label: 'ID',
            field: 'id',
            width: '100px',
            type: 'string'
          },
          {
            label: 'Відправлено',
            field: 'recieved',
            width: '100px',
            sort: true,
            type: 'string'
          },
          {
            label: 'Розмір',
            field: 'size',
            width: '50px',
            type: 'number',
            sort: true
          },
          {
            label: 'Зберігати до',
            field: 'keepTill',
            width: '100px',
            sort: true,
            type: 'string'
          }
        ],
        allOfTypeIsSelected: false,
        allOfTypeSelectedIdx: -1,
        statusesList: [],
        gridStatusesConfig: {
          title: 'Статуси',
          ...gridConfig
        },
        gridStatusesColumns: [
          {
            label: 'Отримувач',
            field: 'recipient',
            width: '100px',
            type: 'string'
          },
          {
            label: 'Статус',
            field: 'status',
            width: '50px',
            type: 'number',
            sort: true
          },
          {
            label: 'Змінено',
            field: 'changed',
            width: '100px',
            sort: true,
            type: 'string'
          }
        ]
      }
    },
    components: {
      QDataTable,
      splitPanel,
      QBtn,
      QTooltip,
      QIcon
    },
    methods: {
      async deleteAllOfType (props) {
        Dialog.create({
          title: 'Видалення',
          message: `Ви дійсно бажаєте видалити всі повідомлення з типом ${props.rows[0].data.type}?`,
          buttons:
            [
              {
                label: 'Так',
                handler: async () => {
                  const r = await rest({
                    method: 'DELETE',
                    endPoint: `/messages/type`,
                    params: [
                      props.rows[0].data.type
                    ]
                  })
                  if (r.status === 200) {
                    this.refreshAllOfType()
                  }
                }
              },
              'Ні'
            ]
        })
      },
      async deleteMessage (props) {
        Dialog.create({
          title: 'Видалення',
          message: `Ви дійсно бажаєте видалити повідомлення ${props.rows[0].data.id}?`,
          buttons:
            [
              {
                label: 'Так',
                handler: async () => {
                  const r = await rest({
                    method: 'DELETE',
                    endPoint: `/messages/id`,
                    params: [
                      props.rows[0].data.id
                    ]
                  })
                  if (r.status === 204) {
                    this.refreshAllOfType()
                  }
                }
              },
              'Ні'
            ]
        })
      },
      async refreshByType (done) {
        this.msgByTypeList = []
        const r = await rest({
          method: 'GET',
          endPoint: '/messages/group/type'
        })
        if (r.status === 200) {
          this.msgByTypeList = r.payload
        }
        if (done) done()
      },
      async refreshAllOfType (done) {
        this.allOfTypeList = []
        if (this.byTypeIsSelected) {
          const r = await rest({
            method: 'GET',
            endPoint: '/messages/type',
            params: [this.msgByTypeList[this.byTypeSelectedIdx].type]
          })
          if (r.status === 200) {
            this.allOfTypeList = r.payload
          }
        }
        if (done) done()
      },
      async refreshStatuses (done) {
        this.statusesList = []
        if (this.allOfTypeIsSelected) {
          const r = await rest({
            method: 'GET',
            endPoint: '/messages/status',
            params: [this.allOfTypeList[this.allOfTypeSelectedIdx].id]
          })
          if (r.status === 200) {
            this.statusesList = r.payload
          }
        }
        if (done) done()
      },
      gridByTypeClick (row) {
        const idx = this.$refs['gridByType'].rows.findIndex(w => w.__index === row.__index)
        this.$refs['gridByType'].rowSelection = [idx]
      },
      gridAllOfClick (row) {
        const idx = this.$refs['gridAllOfType'].rows.findIndex(w => w.__index === row.__index)
        this.$refs['gridAllOfType'].rowSelection = [idx]
      },
      gridByTypeSelect (n, rows) {
        this.byTypeIsSelected = !!n
        if (n) {
          this.byTypeSelectedIdx = rows[0].index
        }
        else {
          this.byTypeSelectedIdx = -1
        }
        this.refreshAllOfType()
      },
      gridAllOfTypeSelect (n, rows) {
        this.allOfTypeIsSelected = !!n
        if (n) {
          this.allOfTypeSelectedIdx = rows[0].index
        }
        else {
          this.allOfTypeSelectedIdx = -1
        }
        this.refreshStatuses()
      }
    },
    mounted () {
      this.refreshByType()
    }
  }
</script>

<style>
</style>
