<template>
  <div style="height: calc(100vh - 51px);">
    <split-panel :layout="'vertical'" :gutter="6">
      <q-data-table
        ref="list"
        :data="typeList"
        :config="gridConfig"
        :columns="gridColumns"
        @rowclick="gridClick"
        @selection="typeSelect"
        @refresh="refreshAll"
        slot="1"
        class="compact"
      >
        <template slot="selection" slot-scope="props">
          <span>Типи</span>
          <q-btn flat color="primary" @click="changeMsgType(props)">
            <q-tooltip anchor="top right" self="bottom left">Виправити…</q-tooltip>
            <q-icon name="edit"/>
          </q-btn>
          <q-btn flat color="primary" @click="addRecip(props)">
            <q-tooltip anchor="top right" self="bottom left">Додати отримувача…</q-tooltip>
            <q-icon name="person add"/>
          </q-btn>
          <q-btn flat color="primary" @click="deleteMsgType(props)">
            <q-tooltip anchor="top right" self="bottom left">Видалити…</q-tooltip>
            <q-icon name="delete"/>
          </q-btn>
        </template>
      </q-data-table>
      <split-panel layout="horizontal" slot="2" v-show="typeIsSelected" :gutter="6">
        <div slot="1">
          <q-data-table
            ref="recipList"
            :data="recipList"
            :config="gridRecipConfig"
            :columns="gridRecipColumns"
            @rowclick="gridRecipClick"
            @selection="recipSelect"
            @refresh="refreshDetails"
          >
            <template slot="selection" slot-scope="props">
              <span>Отримувачи</span>
              <q-btn flat color="primary" @click="editRecip(props)">
                <q-tooltip anchor="top right" self="bottom left">Виправити…</q-tooltip>
                <q-icon name="edit"/>
              </q-btn>
              <q-btn flat color="primary" @click="delRecip(props)">
                <q-tooltip anchor="top right" self="bottom left">Видалити…</q-tooltip>
                <q-icon name="delete"/>
              </q-btn>
            </template>
          </q-data-table>
        </div>
        <div slot="2">
          <div class="q-data-table-toolbar upper-toolbar items-center">
            <div class="col q-data-table-toolbar"><span>Схема</span></div>
          </div>
          <json-tree v-show="schema" :data="schema">
            {{schema}}
          </json-tree>
        </div>
      </split-panel>
    </split-panel>
    <q-fixed-position corner="bottom-right" :offset="[12, 8]">
      <q-btn round color="primary" @click="addMsgType">
        <q-tooltip anchor="top right" self="bottom left">Додати тип…</q-tooltip>
        <q-icon name="add"/>
      </q-btn>
    </q-fixed-position>
    <q-modal ref="addtypeform" content-css="width: 800px; height: 360px;">
      <q-modal-layout>
        <q-toolbar slot="header">
          <div class="q-toolbar-title">
            {{typeFormMode === 'add' ? 'Реєстрація' : 'Виправлення'}} типу повідомлень
          </div>
        </q-toolbar>
        <div class="modal-buttons row bg-white" slot="footer">
          <q-btn color="primary" small @click="doAddType">OK</q-btn>
          <q-btn color="primary" small @click="$refs.addtypeform.close()">Скасування</q-btn>
        </div>
        <div class="modal-content-padding">
          <div class="row">
            <div class="col-5">
              <q-input
                v-model="newType.code"
                float-label="Код"
                color="primary"
                :disabled="typeFormMode === 'edit'"
              />
            </div>
            <div class="col-5 f-col">
              <q-select
                v-model="newType.provider"
                :options="servOptions"
                float-label="Провайдер"
                :disabled="typeFormMode === 'edit'"
                :disable="typeFormMode === 'edit'"
              />
            </div>
            <div class="col-2">
              <q-input
                v-model="newType.keepDur"
                float-label="Термін зберігання"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <q-input
                type="textarea"
                v-model="newType.descr"
                float-label="Опис"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <q-input
                type="textarea"
                v-model="newType.schema"
                float-label="Схема"
                :min-rows="5"
                class="af-fixed-font"
              />
            </div>
          </div>
        </div>
      </q-modal-layout>
    </q-modal>
    <q-modal ref="addrecipform" content-css="width: 500px; height: 160px;">
      <q-modal-layout>
        <q-toolbar slot="header">
          <div class="q-toolbar-title">
            {{recipFormMode === 'add' ? 'Додавання' : 'Виправлення'}} отримувача
          </div>
        </q-toolbar>
        <div class="modal-buttons row" slot="footer">
          <q-btn color="primary" @click="modRecip">OK</q-btn>
          <q-btn color="primary" @click="$refs.addrecipform.close()">Скасування</q-btn>
        </div>
        <div class="modal-content-padding">
          <div class="row">
            <div class="col-8 f-col">
              <q-select
                v-model="modifiedRecipient.recipient"
                :options="servOptions"
                float-label="Отримувач"
                :disabled="recipFormMode === 'edit'"
                :disable="recipFormMode === 'edit'"
              />
            </div>
            <div class="col-4 f-col">
              <q-input
                v-model="modifiedRecipient.queueDur"
                float-label="Термін доступності"
              />
            </div>
          </div>
        </div>
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
  import {gridConfig, dedur} from '../common'
  import {rest} from '../restClient'
  import {
    QDataTable,
    QBtn,
    QIcon,
    QFixedPosition,
    QTooltip,
    Dialog,
    QModal,
    QModalLayout,
    QToolbar,
    QInput,
    QSelect,
    Toast
  } from 'quasar-framework'
  import splitPanel from 'vue-panel-split'
  import JsonTree from 'vue-json-tree'
  import dur from 'go-duration'

  export default {
    components: {
      QDataTable,
      QBtn,
      QIcon,
      splitPanel,
      JsonTree,
      QFixedPosition,
      QTooltip,
      QModal,
      QModalLayout,
      QToolbar,
      QInput,
      QSelect
    },
    data () {
      return {
        typeList: [],
        gridConfig: {
          title: 'Типи',
          ...gridConfig
        },
        gridColumns: [
          {
            label: 'Код',
            field: 'code',
            width: '100px',
            filter: true,
            sort: true,
            type: 'string'
          },
          {
            label: 'Опис',
            field: 'descr',
            width: '300px',
            filter: true,
            sort: true,
            type: 'string'
          },
          {
            label: 'Провайдер',
            field: 'provider',
            width: '100px',
            filter: true,
            type: 'string',
            sort: true
          },
          {
            label: 'Схема',
            field: 'hasSchema',
            width: '60px',
            format (value, row) {
              return value ? 'Є' : 'Немає'
            },
            sort (a, b) {
              if (a && b) return 0
              if (!(a || b)) return 0
              return a ? 1 : -1
            }
          },
          {
            label: 'Отримувачи',
            field: 'recipientsCount',
            width: '100px',
            type: 'number',
            sort: true
          },
          {
            label: 'Зберігати',
            field: 'keepDur',
            width: '100px',
            type: 'number',
            sort: true,
            format (value, row) {
              return dedur(value)
            }
          }
        ],
        recipList: [],
        gridRecipConfig: {
          title: 'Отримувачи',
          ...gridConfig
        },
        gridRecipColumns: [
          {
            label: 'Код',
            field: 'code',
            width: '200px',
            sort: true,
            type: 'string'
          },
          {
            label: 'Доступно',
            field: 'queueDur',
            width: '100px',
            type: 'number',
            sort: true,
            format (value, row) {
              return dedur(value)
            }
          }
        ],
        schema: '',
        typeIsSelected: false,
        selectedTypeIdx: -1,
        selectedRecipIdx: -1,
        newType: {},
        servOptions: [],
        typeFormMode: '',
        recipFormMode: '',
        modifiedRecipient: {}
      }
    },
    methods: {
      gridClick (r) {
        const idx = this.$refs['list'].rows.findIndex(w => w.__index === r.__index)
        this.$refs['list'].rowSelection = [idx]
      },
      gridRecipClick (r) {
        const idx = this.$refs['recipList'].rows.findIndex(w => w.__index === r.__index)
        this.$refs['recipList'].rowSelection = [idx]
      },
      async refreshAll (done) {
        this.typeList = []
        const r = await rest({
          method: 'GET',
          endPoint: '/msg-types'
        })
        if (r.status === 200) {
          this.typeList = r.payload
        }
        if (done) done()
      },
      async refreshDetails (done) {
        this.recipList = []
        this.schema = null
        if (this.typeIsSelected) {
          const r = await rest({
            method: 'GET',
            endPoint: '/msg-type',
            params: [this.typeList[this.selectedTypeIdx].code]
          })
          if (r.status === 200) {
            this.recipList = r.payload.recipients
            this.schema = r.payload.schema
          }
        }
        if (done) done()
      },
      async doAddType () {
        let { code, descr, provider, keepDur, schema } = this.newType
        if (!(code && descr && provider)) return
        if (schema) {
          try {
            schema = JSON.parse(schema)
          }
          catch (e) {
            Toast.create['negative']({
              html: `Невірний JSON формат схеми`
            })
            return
          }
        }
        if (this.typeFormMode === 'add') {
          const r = await rest({
            method: 'POST',
            endPoint: `/msg-types`,
            data: {
              code,
              descr,
              provider,
              keepDur,
              schema
            }
          })
          if (r.status === 200) {
            this.typeList = [{
              code,
              descr,
              provider,
              hasSchema: !!schema,
              keepDur: dur(keepDur),
              recipientsCount: 0
            }, ...this.typeList]
            this.$refs.addtypeform.close()
          }
        }
        else if (this.typeFormMode === 'edit') {
          const r = await rest({
            method: 'PUT',
            endPoint: `/msg-types`,
            data: {
              code,
              descr,
              keepDur,
              schema
            }
          })
          if (r.status === 204) {
            this.typeList[this.selectedTypeIdx].descr = descr
            this.typeList[this.selectedTypeIdx].hasSchema = !!schema
            this.schema = schema
            this.typeList[this.selectedTypeIdx].keepDur = dur(keepDur)
            this.$refs.addtypeform.close()
            this.$refs['recipList'].rowSelection = this.selectedTypeIdx
          }
        }
      },
      addMsgType () {
        this.newType = {
          code: '',
          descr: '',
          provider: '',
          keepDur: '',
          schema: ''
        }
        this.typeFormMode = 'add'
        this.$refs.addtypeform.open()
      },
      changeMsgType () {
        this.newType = {
          code: this.typeList[this.selectedTypeIdx].code,
          descr: this.typeList[this.selectedTypeIdx].descr,
          provider: this.typeList[this.selectedTypeIdx].provider,
          keepDur: dedur(this.typeList[this.selectedTypeIdx].keepDur),
          schema: this.schema ? JSON.stringify(this.schema, null, ' ') : ''
        }
        this.typeFormMode = 'edit'
        this.$refs.addtypeform.open()
      },
      addRecip () {
        this.modifiedRecipient = {
          code: this.typeList[this.selectedTypeIdx].code,
          recipient: '',
          queueDur: ''
        }
        this.recipFormMode = 'add'
        this.$refs.addrecipform.open()
      },
      deleteMsgType (props) {
        Dialog.create({
          title: 'Видалення',
          message: `Ви дійсно бажаєте видалити тип повідомлення ${props.rows[0].data.code}?`,
          buttons:
            [
              {
                label: 'Так',
                handler: async () => {
                  const r = await rest({
                    method: 'DELETE',
                    endPoint: `/msg-type`,
                    params: [
                      props.rows[0].data.code
                    ]
                  })
                  if (r.status === 204) {
                    this.refreshAll()
                  }
                }
              },
              'Ні'
            ]
        })
      },
      editRecip () {
        this.modifiedRecipient = {
          code: this.typeList[this.selectedTypeIdx].code,
          recipient: this.recipList[this.selectedRecipIdx].code,
          queueDur: dedur(this.recipList[this.selectedRecipIdx].queueDur)
        }
        this.recipFormMode = 'edit'
        this.$refs.addrecipform.open()
      },
      delRecip (props) {
        Dialog.create({
          title: 'Видалення',
          message: `Ви дійсно бажаєте видалити отримувача ${props.rows[0].data.code}?`,
          buttons:
            [
              {
                label: 'Так',
                handler: async () => {
                  const r = await rest({
                    method: 'DELETE',
                    endPoint: `/msg-types`,
                    params: [
                      this.typeList[this.selectedTypeIdx].code,
                      props.rows[0].data.code
                    ]
                  })
                  if (r.status === 204) {
                    this.refreshDetails()
                  }
                }
              },
              'Ні'
            ]
        })
      },
      typeSelect (a, b) {
        this.typeIsSelected = !!a
        if (a) {
          this.selectedTypeIdx = b[0].index
        }
        else {
          this.selectedTypeIdx = -1
        }
        this.refreshDetails()
      },
      recipSelect (a, b) {
        if (a) {
          this.selectedRecipIdx = b[0].index
        }
        else {
          this.selectedRecipIdx = -1
        }
      },
      async fillSrvcOptions () {
        const r = await rest({
          method: 'GET',
          endPoint: '/services'
        })
        if (r.status === 200) {
          this.servOptions = r.payload.map(e => ({ label: e.code, value: e.code }))
        }
      },
      async modRecip () {
        let { code, recipient, queueDur } = this.modifiedRecipient
        if (!(code && recipient)) return
        if (this.recipFormMode === 'add') {
          const r = await rest({
            method: 'POST',
            endPoint: `/msg-types/recipient`,
            data: {
              code,
              recipient,
              queueDur
            }
          })
          if (r.status === 204) {
            this.recipList = [{
              code,
              queueDur: dur(queueDur)
            }, ...this.recipList]
            this.$refs.addrecipform.close()
            this.$refs['recipList'].rowSelection = 0
          }
        }
        else if (this.recipFormMode === 'edit') {
          const r = await rest({
            method: 'PUT',
            endPoint: `/msg-types/recipient`,
            data: {
              code,
              recipient,
              queueDur
            }
          })
          if (r.status === 204) {
            this.recipList[this.selectedRecipIdx].queueDur = dur(queueDur)
            this.$refs.addrecipform.close()
            this.$refs['recipList'].rowSelection = this.selectedTypeIdx
          }
        }
      }
    },
    mounted () {
      this.refreshAll()
      this.fillSrvcOptions()
    }
  }
</script>

<style lang="stylus">
  .f-col
    padding 0 10px
</style>
