<template>
  <div>
    <q-toolbar color="secondary">
      <q-toolbar-title>Стан черги (по {{viewMode ? 'типам повідомлень' : 'отримувачам'}})</q-toolbar-title>
      <q-btn flat :class="viewMode ? 'bg-secondary' : 'bg-white'" @click="modeChange(0)">
        <q-icon name="fa-cogs" :color="viewMode ? 'white' : 'secondary'" style="padding: 0 5px"></q-icon>
      </q-btn>
      <q-btn flat :class="!viewMode ? 'bg-secondary' : 'bg-white'" @click="modeChange(1)">
        <q-icon name="fa-envelope" :color="!viewMode ? 'white' : 'secondary'" style="padding: 0 5px"></q-icon>
      </q-btn>
    </q-toolbar>
    <div style="height: calc(100vh - 82px);" ref="fvp">
      <split-panel layout="vertical" :gutter="6" :min="50">
        <split-panel slot="1" layout="horizontal" :gutter="6" ref="vp">
          <div slot="1" style="width: calc(50vh - 50px); margin: 0 auto">
            <doughnut
              v-if="chartData"
              :chart-data="chartData"
              :options="recipChartOptions"
            />
          </div>
          <q-data-table
            v-show="viewMode"
            slot="2"
            ref="gridGroupType"
            :data="gridGroupDataType"
            :config="gridGroupConfig"
            :columns="gridGroupColumnsType"
            @rowclick="gridGroupTypeClick"
            @selection="gridGroupTypeSelect"
            @refresh="refreshGroupsType"
          />
          <q-data-table
            v-show="!viewMode"
            slot="2"
            ref="gridGroupRecip"
            :data="gridGroupDataRecip"
            :config="gridGroupConfig"
            :columns="gridGroupColumnsRecip"
            @rowclick="gridGroupRecipClick"
            @selection="gridGroupRecipSelect"
            @refresh="refreshGroupsRecip"
          />
        </split-panel>
        <q-data-table
          v-show="gridGroupTypeIsSelected || gridGroupRecipIsSelected"
          slot="2"
          :data="gridAllOfType"
          :config="gridAllOfTypeConfig"
          :columns="gridAllOfTypeColumns"
        />
      </split-panel>
    </div>
  </div>
</template>

<script>
  // style="width: 300px; height: 300px"
  import {rest} from '../restClient'
  import Doughnut from './DonutChart'
  import palette from 'google-palette'
  import splitPanel from 'vue-panel-split'
  import {gridConfig} from '../common'
  import {
    QToolbar,
    QToolbarTitle,
    QBtn,
    QIcon,
    QDataTable
  } from 'quasar-framework'

  export default {
    data () {
      return {
        viewMode: 1,
        chartData: null,
        recipChartOptions: {
          // This chart will not respond to mousemove, etc
          // events: ['click']
        },
        gridGroupDataType: [],
        gridGroupTypeIsSelected: false,
        gridGroupTypeSelectedIdx: -1,
        gridGroupDataRecip: [],
        gridGroupRecipIsSelected: false,
        gridGroupRecipSelectedIdx: -1,
        gridAllOfType: [],
        gridGroupColumnsType: [
          {
            label: 'Тип',
            field: 'type',
            width: '100px',
            type: 'string',
            sort: true
          },
          {
            label: 'Кількість',
            field: 'count',
            width: '50px',
            type: 'number',
            sort: true
          },
          {
            label: 'Розмір',
            field: 'totalSize',
            width: '100px',
            sort: true,
            type: 'string'
          }
        ],
        gridGroupColumnsRecip: [
          {
            label: 'Отримувач',
            field: 'recipient',
            width: '100px',
            type: 'string',
            sort: true
          },
          {
            label: 'Кількість',
            field: 'count',
            width: '50px',
            type: 'number',
            sort: true
          },
          {
            label: 'Розмір',
            field: 'totalSize',
            width: '100px',
            sort: true,
            type: 'string'
          }
        ],
        gridAllOfTypeConfig: {
          title: 'Елементи черги',
          ...gridConfig
        },
        gridAllOfTypeColumns: [
          {
            label: 'ID повідомлення',
            field: 'msgId',
            width: '100px',
            type: 'string',
            sort: true
          },
          {
            label: 'Тип',
            field: 'type',
            width: '100px',
            type: 'string',
            sort: true
          },
          {
            label: 'Провайдер',
            field: 'from',
            width: '100px',
            type: 'string',
            sort: true
          },
          {
            label: 'Отримувач',
            field: 'to',
            width: '100px',
            type: 'string',
            sort: true
          },
          {
            label: 'Розмір',
            field: 'size',
            width: '100px',
            sort: true,
            type: 'number'
          },
          {
            label: 'Відправлено',
            field: 'at',
            width: '100px',
            sort: true,
            type: 'string'
          },
          {
            label: 'В черзі до',
            field: 'availTill',
            width: '100px',
            sort: true,
            type: 'string'
          }
        ]
      }
    },
    computed: {
      gridGroupConfig () {
        return {
          title: this.viewMode ? 'Черга по типам' : 'Черга по отримувачам',
          ...gridConfig
        }
      }
    },
    components: {
      Doughnut,
      QToolbar,
      QToolbarTitle,
      QBtn,
      QIcon,
      splitPanel,
      QDataTable
    },
    methods: {
      async refreshAllOfType () {
        this.gridAllOfType = []
        if (!(this.gridGroupTypeIsSelected || this.gridGroupRecipIsSelected)) return
        const r = await rest({
          method: 'GET',
          endPoint: this.viewMode ? '/queue/type' : '/queue/recipient',
          params: [
            this.viewMode
              ? [this.gridGroupDataType[this.gridGroupTypeSelectedIdx].type]
              : [this.gridGroupDataRecip[this.gridGroupRecipSelectedIdx].recipient]
          ]
        })
        if (r.status === 200) {
          this.gridAllOfType = r.payload
        }
      },
      gridGroupTypeClick (row) {
        const idx = this.$refs['gridGroupType'].rows.findIndex(w => w.__index === row.__index)
        this.$refs['gridGroupType'].rowSelection = [idx]
      },
      gridGroupTypeSelect (n, rows) {
        this.gridGroupTypeIsSelected = !!n
        if (n) {
          this.gridGroupTypeSelectedIdx = rows[0].index
        }
        else {
          this.gridGroupTypeSelectedIdx = -1
        }
        this.refreshAllOfType()
      },
      gridGroupRecipClick (row) {
        const idx = this.$refs['gridGroupRecip'].rows.findIndex(w => w.__index === row.__index)
        this.$refs['gridGroupRecip'].rowSelection = [idx]
      },
      gridGroupRecipSelect (n, rows) {
        this.gridGroupRecipIsSelected = !!n
        if (n) {
          this.gridGroupRecipSelectedIdx = rows[0].index
        }
        else {
          this.gridGroupRecipSelectedIdx = -1
        }
        this.refreshAllOfType()
      },
      modeChange (mode) {
        this.viewMode = mode
        if (mode) this.refreshGroupsType()
        else this.refreshGroupsRecip()
      },
      async refreshGroupsType (done) {
        this.gridGroupDataType = []
        this.chartData = null
        const r = await rest({
          method: 'GET',
          endPoint: '/queue/group/type'
        })
        if (r.status === 200) {
          this.gridGroupDataType = r.payload
          this.chartData = {
            datasets: [
              {
                data: this.gridGroupDataType.map(e => e.count),
                backgroundColor: palette('tol', this.gridGroupDataType.length).map(function (hex) {
                  return '#' + hex
                })
              }
            ],
            labels: this.gridGroupDataType.map(e => e.type)
          }
        }
        if (done) done()
      },
      percLeft () {
        const p = Math.ceil((this.$refs.vp.$el.clientHeight) / this.$refs.fvp.clientWidth * 100) + 1
        this.$refs.vp.percent = p
        this.$refs.vp.minPercent = p
      },
      async refreshGroupsRecip (done) {
        this.gridGroupDataRecip = []
        this.chartData = null
        const r = await rest({
          method: 'GET',
          endPoint: '/queue/group/recipient'
        })
        if (r.status === 200) {
          this.gridGroupDataRecip = r.payload
          this.chartData = {
            datasets: [
              {
                data: this.gridGroupDataRecip.map(e => e.count),
                backgroundColor: palette('tol', this.gridGroupDataRecip.length).map(function (hex) {
                  return '#' + hex
                })
              }
            ],
            labels: this.gridGroupDataRecip.map(e => e.recipient)
          }
        }
        if (done) done()
      }
    },
    mounted () {
      this.refreshGroupsRecip()
      this.refreshGroupsType()
      this.percLeft()
    },
    created () {
      delete this.gridAllOfTypeConfig.refresh
      // this.gridAllOfTypeConfig.delete('refresh')
    }
  }
</script>

<style>
</style>
