<template>
  <div>
    <q-data-table
      ref="list"
      :data="svcList"
      :config="gridConfig"
      :columns="gridColumns"
      @rowclick="gridClick"
      @selection="serviceSelect"
      @refresh="refreshList"
    >
      <template slot="selection" slot-scope="props">
        <q-btn flat color="primary" @click="changeService(props)">
          <q-tooltip anchor="top right" self="bottom left">Виправити…</q-tooltip>
          <q-icon name="edit"/>
        </q-btn>
        <q-btn flat color="primary" @click="lockService(props)">
          <q-tooltip anchor="top right" self="bottom left">(Роз)блокувати…</q-tooltip>
          <q-icon name="lock"/>
        </q-btn>
        <q-btn flat color="primary" @click="newToken(props)">
          <q-tooltip anchor="top right" self="bottom left">Новий жетон…</q-tooltip>
          <q-icon name="vpn key"/>
        </q-btn>
        <q-btn flat color="primary" @click="deleteService(props)">
          <q-tooltip anchor="top right" self="bottom left">Видалити…</q-tooltip>
          <q-icon name="delete"/>
        </q-btn>
      </template>
    </q-data-table>

    <q-fixed-position corner="bottom-right" :offset="[12, 8]">
      <q-btn round color="primary" @click="addService">
        <q-tooltip anchor="top right" self="bottom left">Додати…</q-tooltip>
        <q-icon name="add"/>
      </q-btn>
    </q-fixed-position>
    <q-modal ref="addservform" content-css="height: 240px; width:480px">
      <q-modal-layout>
        <q-toolbar slot="header">
          <div class="q-toolbar-title">
            {{servFormMode==='add' ? 'Реєстрація' : 'Виправлення'}} сервісу
          </div>
        </q-toolbar>
        <div class="modal-buttons row" slot="footer">
          <q-btn color="primary" @click="doServAction">OK</q-btn>
          <q-btn color="primary" @click="$refs.addservform.close()">Скасування</q-btn>
        </div>
        <div class="modal-content-padding">
          <div class="row">
            <div class="col">
              <q-input
                v-model="edServ.code"
                float-label="Код"
                :disabled = "servFormMode === 'edit'"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <q-input
                type="textarea"
                v-model="edServ.descr"
                float-label="Опис"
              />
            </div>
          </div>
        </div>
      </q-modal-layout>
    </q-modal>
  </div>
</template>

<script>
  import {rest} from '../restClient'
  import {
    QDataTable,
    QBtn,
    QIcon,
    QFixedPosition,
    Dialog,
    QTooltip,
    QModal,
    QModalLayout,
    QToolbar,
    QInput
  } from 'quasar-framework'
  import {gridConfig} from '../common'

  export default {
    data () {
      return {
        svcList: [],
        gridConfig,
        gridColumns: [
          {
            label: 'Код',
            field: 'code',
            width: '100px',
            filter: true,
            sort: true,
            type: 'string'
          },
          {
            label: 'Опис',
            field: 'descr',
            width: '300px',
            filter: true,
            sort: true,
            type: 'string'
          },
          {
            label: 'Заблокований',
            field: 'lock',
            width: '60px',
            type: 'string',
            format (value, row) {
              return value ? 'Так' : 'Ні'
            },
            sort (a, b) {
              if (a && b) return 0
              if (!(a || b)) return 0
              return a ? 1 : -1
            }
          },
          {
            label: 'Жетон',
            field: 'token',
            width: '150px'
          }
        ],
        servFormMode: '',
        edServ: {},
        selectedSrvcIdx: -1
      }
    },
    components: {
      QDataTable,
      QBtn,
      QIcon,
      QFixedPosition,
      QTooltip,
      QModal,
      QModalLayout,
      QToolbar,
      QInput
    },
    methods: {
      gridClick (r) {
        const idx = this.$refs['list'].rows.findIndex(w => w.__index === r.__index)
        this.$refs['list'].rowSelection = [idx]
      },
      async getAll () {
        const r = await rest({
          method: 'GET',
          endPoint: '/services'
        })
        if (r.status === 200) {
          this.svcList = r.payload
        }
      },
      async refreshList (done) {
        this.svcList = []
        const r = await rest({
          method: 'GET',
          endPoint: '/services'
        })
        if (r.status === 200) {
          this.svcList = r.payload
        }
        if (done) done()
      },
      serviceSelect (n, row) {
        if (n) {
          this.selectedSrvcIdx = row[0].index
        }
        else {
          this.selectedSrvcIdx = -1
        }
      },
      changeService (props) {
        this.edServ = {
          code: this.svcList[this.selectedSrvcIdx].code,
          descr: this.svcList[this.selectedSrvcIdx].descr
        }
        this.servFormMode = 'edit'
        this.$refs.addservform.open()
      },
      deleteService (props) {
        Dialog.create({
          title: 'Видалення',
          message: `Ви дійсно бажаєте видалити сервіс ${props.rows[0].data.code}?`,
          buttons:
            [
              {
                label: 'Так',
                handler: async () => {
                  const r = await rest({
                    method: 'DELETE',
                    endPoint: `/services`,
                    params: [
                      props.rows[0].data.code
                    ]
                  })
                  if (r.status === 204) {
                    this.refreshList()
                  }
                }
              },
              'Ні'
            ]
        })
      },
      newToken (props) {
        Dialog.create({
          title: 'Новий жетон',
          message: `Ви дійсно бажаєте згенерувати новий жетон доступу для сервісу ${props.rows[0].data.code}?`,
          buttons:
            [
              {
                label: 'Так',
                handler: async () => {
                  const r = await rest({
                    method: 'PUT',
                    endPoint: `/services/gentoken`,
                    data: {
                      code: props.rows[0].data.code
                    }
                  })
                  if (r.status === 200) {
                    this.svcList[props.rows[0].index].token = r.payload.newToken
                  }
                }
              },
              'Ні'
            ]
        })
      },
      async doServAction () {
        let {code, descr} = this.edServ
        if (!(code && descr)) return
        if (this.servFormMode === 'add') {
          const r = await rest({
            method: 'POST',
            endPoint: `/services`,
            data: {
              code,
              descr
            }
          })
          if (r.status === 200) {
            this.svcList = [{
              _id: r.payload.id,
              code,
              descr,
              lock: false,
              token: r.payload.token
            }, ...this.svcList]
            this.$refs.addservform.close()
          }
        }
        else if (this.servFormMode === 'edit') {
          const r = await rest({
            method: 'PUT',
            endPoint: `/services/descr`,
            data: {
              code,
              descr
            }
          })
          if (r.status === 204) {
            this.svcList[this.selectedSrvcIdx].descr = descr
            this.$refs.addservform.close()
          }
        }
      },
      lockService (props) {
        const state = props.rows[0].data.lock
        Dialog.create({
          title: `${state ? 'Розблокування' : 'Блокування'} сервісу`,
          message: `Ви дійсно бажаєте ${state ? 'розблокувати' : 'заблокувати'} доступ сервісу ${props.rows[0].data.code}?`,
          buttons:
            [
              {
                label: 'Так',
                handler: async () => {
                  const r = await rest({
                    method: 'PUT',
                    endPoint: `/services/lock`,
                    data: {
                      code: props.rows[0].data.code,
                      lock: !state
                    }
                  })
                  if (r.status === 204) {
                    this.svcList[props.rows[0].index].lock = !state
                  }
                }
              },
              'Ні'
            ]
        })
      },
      addService () {
        this.edServ = {
          code: '',
          descr: ''
        }
        this.servFormMode = 'add'
        this.$refs.addservform.open()
      }
    },
    mounted () {
      this.refreshList()
    }
  }
</script>

<style>
</style>
